<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <title>Login Sample</title>
    <link href="Assets/css/login.css" rel="stylesheet" />
    <script src="bower_components/angular/angular.js"></script>
    <script src="Controller/login.js"></script>
</head>
<body>
    <div class="logincss" ng-controller="loginCtrl">
        <span style="margin-bottom:5px"> UserName : </span><input type="text" ng-model="UserName" /><br />
        <span style="margin-bottom:5px"> Password : </span><input type="text" ng-model="Password" /><br />
        <button class="loginbutton" ng-click="authenticate()">Login</button>
    </div>
</body>
</html>
